body{
    background-color: #F2E9DC;
}

h1{
    color:#CFD11A;
    background-color: rgb(78, 104, 82);
    display: inline;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
}

h2{
    color: #808F85;
}

p, ul, ol{
    color: #595959;
}